## Hello World

In [2]:
print("hello");

hello

## variables

In [3]:
a=10;
b=33;
print(type(a+b))

<class 'int'>

In [5]:
a=45.55
print(type(a));

<class 'float'>

In [7]:
a="hello"
print(type(a));

<class 'str'>

In [8]:
d=5+4j
print(type(d));

<class 'complex'>

## Taking input

In [6]:
name=input()
print("hello",name)

bapu
hello bapu

In [18]:
a=input("Enter your name: ");
print("hello",a);     #includes space
print("hello"+a);     #not include space

Enter your name: yash gandhi
hello yash gandhi
helloyash gandhi

## typecasting

In [19]:
a=input("Enter a number: ");
print("the number you entered is:",a,end=" ");   #end parameter in a function
                                                 #by default its value is \n for print statement and this is 
                                                 #executed every time a print statement is executed
print("type of a :",type(a))

Enter a number: 45
the number you entered is: 45 type of a : <class 'str'>

In [23]:
a=float(input("Enter a number: "))
print("the number you entered is:",a,end="\n\n")   #end parameter in a function
                                                   #by default its value is \n for print statement and this is 
                                                   #executed every time a print statement is executed
print("type of a :",type(a))
print("the square is : "+str(a*a))              #typecasted to str again

Enter a number: 4.234
the number you entered is: 4.234

type of a : <class 'float'>
the square is : 17.926756

## More on print fuction

In [31]:
print("+yash","gandhi","hello","world",sep="+\n+") #seperator

+yash+
+gandhi+
+hello+
+world

In [32]:
a=45
b="harayana"
print("{0} people live in {1}".format(a,b))

45 people live in harayana

In [33]:
a=45
b="harayana"
c="india"
print("{0} people live in {1} a state in {2}".format(a,b,c))

45 people live in harayana a state in india

In [38]:
print("hello %d people of %s living in %s"%(a,b,c))

hello 45 people of harayana living in india

## Operators

In [48]:
a=10;
b=3;
print(a/b,type(a/b))                 #floating point returned
print(a//b,type(a//b))               #integer division

3.3333333333333335 <class 'float'>
3 <class 'int'>

In [45]:
print("hello",45)             #but print("hello "+ 45) is invalid statement

hello 45

In [55]:
a=77
b=64
print("%0.4f"%(a//b))
print("%0.4f"%(a/b))

1.0000
1.2031

In [56]:
print(a**b)

5437589409196755010929519821645784067024309122301926366910354757626905801389085035074667925844349168139762829668081680641

In [57]:
print(a%b)

13

In [63]:
a,b,c=10,"hello",30.23       #multiple variable assignment
print("%0.2f"%(a+c),"times "+b+" to you")

40.23 times hello to you

## comments

In [64]:
#hello world
"""multiline 
cceniewiunfvrv 
cmevm"""

string="""multiline 
cceniewiunfvrv 
cmevm"""

print(string)

multiline
cceniewiunfvrv
cmevm

In [69]:
#hello world
"""multiline
cceniewiunfvrv
cmevm"""                      #printed as jupyter is bad!!

'multiline\ncceniewiunfvrv\ncmevm'

## more on operators

In [71]:
raining=True            #T is capital
temp=27
out=not raining and temp>45
print(out)

out=not raining and temp==27
print(out)

out=raining and temp>45
print(out)

out=raining and temp<45
print(out)

False
False
False
True

In [72]:
raining=True            #T is capital
temp=27
out=not raining or temp>45
print(out)

out=not raining or temp==27
print(out)

out=raining or temp>45
print(out)

out=raining or temp<45
print(out)

False
True
True
True

## If Else statements

In [84]:
a=int(input("Enter the day: "))
if(a==1):
    print("mon")
elif(a==2):
    print("tue")
elif(a==3):
    print("wed")
elif(a==4):
    print("thu")
elif(a==5):
    print("fri")
elif(a==6):
    print("sat")
elif(a==7):
    print("sun")
else:
    print("Enter a valid number")

Enter the day: 4
thu