## If Else statements

In [1]:
a=int(input("Enter the day: "))
if(a==1):
    print("mon")
elif(a==2):
    print("tue")
elif(a==3):
    print("wed")
elif(a==4):
    print("thu")
elif(a==5):
    print("fri")
elif(a==6):
    print("sat")
elif(a==7):
    print("sun")
else:
    print("Enter a valid number")

Enter the day: 3
wed

# Loops

- while loop

In [2]:
i=0
n=10
while(i<n):
    print("%d times hello world"%i)
    i+=1
print(i)

0 times hello world
1 times hello world
2 times hello world
3 times hello world
4 times hello world
5 times hello world
6 times hello world
7 times hello world
8 times hello world
9 times hello world
10

In [3]:
i,j=0,0
n=5

while(i<n):
    j=0
    while(j<=i):
        print("*",end=" ")
        j+=1
    print("")
    i+=1

*
* *
* * *
* * * *
* * * * *

In [4]:
i=5
j=1

while(i>=1):
    j=1
    while(j<=i):
        print("*",end=" ")
        j+=1
    print("")
    i-=1

* * * * *
* * * *
* * *
* *
*

In [5]:
i,j,k=5,1,1

while(i>=1):
    j,k=1,1
    
    while(k<=(5-i)):
        print(" ",end=" ")
        k+=1
    while(j<=i):
        print("*",end=" ")
        j+=1
        
    print("")
    i-=1

* * * * *
  * * * *
    * * *
      * *
        *

In [6]:
i,j,k=1,1,1

while(i<=5):
    j,k=1,1
    
    while(k<=(5-i)):
        print(" ",end=" ")
        k+=1
    while(j<=i):
        print("*",end=" ")
        j+=1
    print("")
    i+=1

        *
      * *
    * * *
  * * * *
* * * * *

- for loop

In [7]:
for i in range(1,10):      
    print("%d"%i,end=" ")

1 2 3 4 5 6 7 8 9

In [8]:
for i in range(1,20,3):
    print(i,end=" ")

1 4 7 10 13 16 19

In [9]:
prod=1
n=int(input("Enter the number: "))
for i in range(n,1,-1):
    prod*=i
print("factorial is:",prod)

Enter the number: 8
factorial is: 40320

In [10]:
n=10
for x in range(n):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [11]:
for i in range(9):
    for j in range(9):
        print(min(8-i,8-j,i,j),end=" ")
    print()

0 0 0 0 0 0 0 0 0
0 1 1 1 1 1 1 1 0
0 1 2 2 2 2 2 1 0
0 1 2 3 3 3 2 1 0
0 1 2 3 4 3 2 1 0
0 1 2 3 3 3 2 1 0
0 1 2 2 2 2 2 1 0
0 1 1 1 1 1 1 1 0
0 0 0 0 0 0 0 0 0

## Pass, break,continue

In [12]:
for i in range(10):
    pass

In [13]:
for i in range(10):
    if(i==5):
        pass
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [14]:
for i in range(10):
    if(i==5):
        break
    print(i,end=" ")

0 1 2 3 4

In [15]:
for i in range(10):
    print(i,end=" ")
    if(i==5):
        break

0 1 2 3 4 5

In [26]:
for i in range(20,1,-1):
    print("%d"%(i*i),end=" ")

400 361 324 289 256 225 196 169 144 121 100 81 64 49 36 25 16 9 4

In [48]:
for i in range(20):
    if(i%2==0):
        continue
    print("* "*i)

*
* * *
* * * * *
* * * * * * *
* * * * * * * * *
* * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * *

In [31]:
for i in range(10):
    print("%d "%i*i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5
6 6 6 6 6 6
7 7 7 7 7 7 7
8 8 8 8 8 8 8 8
9 9 9 9 9 9 9 9 9

In [42]:
for i in range(10):
    print(i,end=" ")
    if(i==4):
        print("dogs")
        continue
    if(i==0 or i==1):
        print("sheep")
    else:
        print("sheeps")

0 sheep
1 sheep
2 sheeps
3 sheeps
4 dogs
5 sheeps
6 sheeps
7 sheeps
8 sheeps
9 sheeps

In [53]:
n=int(input())
for i in range(2,n+1):
    for j in range(2,i):
        if(i%j==0):
            break
        else:
            print(i)
            break

20
3
5
7
9
11
13
15
17
19

## functions and passing arguments

In [57]:
def function1(a,b,c):
    c=a+b
    print("hello "*a,end=" ")
    print()
    print("world "*b,end=" ")
    print()
    print(c)

function1(8,6,5)      #order must be the same..

hello hello hello hello hello hello hello hello
world world world world world world
14

In [59]:
def fun(name,roll,cls):
    print("hello %s "%name,"of class",str(cls),"and roll number "+str(roll))

fun("yash",567,"12th")      #order must be the same
fun(roll=21,name="aman",cls=5)           #or use this method

hello yash  of class 12th and roll number 567
hello aman  of class 5 and roll number 21

## strings and methods
#### Let a be  string then operations possible are:
- len(a)
- enumerate with for loop
- slicing of string using a[x:y]
- if "bai" in a: wala function
- a.split()
- a.splitlines()
- a.split("xyz")
- a.lstrip() a.rstrip() a.strip()
- a.upper() a.lower()
- a.isupper() a.islower()
- a.isdigit() a.isalpha()
- a.isalnum()
- a.find("element") :return -1 if not found
- a.index("element"):return error if nothing found
  (both can contain other 2 arguments of starting and endng point of search)
- a.count("element")
- a.replace("old","new")
- "desired_character".join(a.split()) : joins list of elements of a again to a str type.
- a.capitalize(): capitalize first letter ot the string
- a.title(): capitalize every first encountered char after a blank space

In [64]:
a="gandhi"
print(a[2])
print(a[-1])
print(a[-3])
print("Length is: "+str(len(a)))

n
i
d
Length is: 6

In [65]:
# Note: Strings are not mutable!

In [70]:
a="welcome to the club"
for i in range(len(a)):
    print(a[-(i+1)],a[i],a[-(i+1)],a[i],a[-(i+1)],a[i])

b w b w b w
u e u e u e
l l l l l l
c c c c c c
  o   o   o
e m e m e m
h e h e h e
t   t   t
  t   t   t
o o o o o o
t   t   t
  t   t   t
e h e h e h
m e m e m e
o   o   o
c c c c c c
l l l l l l
e u e u e u
w b w b w b

In [71]:
a="hello world"                 #for loop in py is more like for each loop in other language
for i in a:
    print(i,end=" ")

h e l l o   w o r l d

In [75]:
a=[1,23+2,4.47,True,"bapu hari laal"]
for i in a:
    print(i)

1
25
4.47
True
bapu hari laal

In [77]:
range(len(a))

range(0, 5)

In [80]:
a="hello world"
for i in a:                 #for each loop
    print(i)                #cannot use this way when we require position also
                            #hence we use enumerate

h
e
l
l
o

w
o
r
l
d

In [82]:
a="hello world"
for i,item in enumerate(a):
    print("Index: ",i,"\tValue: ",item)

Index:  0 	Value:  h
Index:  1 	Value:  e
Index:  2 	Value:  l
Index:  3 	Value:  l
Index:  4 	Value:  o
Index:  5 	Value:
Index:  6 	Value:  w
Index:  7 	Value:  o
Index:  8 	Value:  r
Index:  9 	Value:  l
Index:  10 	Value:  d

In [94]:
a="mango lala ka telephone ka chowkidaar"
b="juice pee kar pubg khela"
print(a+b)
print(a,b)

#slicing:
print(a[6:])
print(a[:])
print(a[:10])
print(a[:-3])
print(a[2:6])
print(a[-3:])
print(a[-4:-1])

mango lala ka telephone ka chowkidaarjuice pee kar pubg khela
mango lala ka telephone ka chowkidaar juice pee kar pubg khela
lala ka telephone ka chowkidaar
mango lala ka telephone ka chowkidaar
mango lala
mango lala ka telephone ka chowkid
ngo
aar
daa

In [95]:
#membership:
a="porshe me baitha mochi"
if "bai" in a:
    print("yes")
else:
    print("no")

yes

In [97]:
#membership:
a="porshe me baitha mochi"
if "bai" not in a:
    print("no")
else:
    print("yes")

yes

In [99]:
p="""this is a 
paragraph written in 
triple quotes"""
print(p)

this is a
paragraph written in
triple quotes

In [105]:
#splittig across words

p="""En3merated power is a political power 
specifically delegated to a governmental branch
by a constitution. ...  
Enumerated power is also termed as express power."""

print(p.split())
print(type(p.split()[3]))
print(type(p.split()))


a=p.split();
l=a[0]
print(l[2])
print(type(l[2]))

['En3merated', 'power', 'is', 'a', 'political', 'power', 'specifically', 'delegated', 'to', 'a', 'governmental', 'branch', 'by', 'a', 'constitution.', '...', 'Enumerated', 'power', 'is', 'also', 'termed', 'as', 'express', 'power.']
<class 'str'>
<class 'list'>
3
<class 'str'>

In [107]:
# splitting lines

p="""A sentence is a group of words that'
are put together to mean something.
A sentence is the basic unit of 
language which expresses a complete thought."""
p.splitlines()

["A sentence is a group of words that'",
 'are put together to mean something.',
 'A sentence is the basic unit of ',
 'language which expresses a complete thought.']

In [112]:
# split across an alphabet

p="""A sentence is a group of words that'
are put together to mean something.
A sentence is the basic unit of 
language which expresses a complete thought."""
p.split("a")

['A sentence is ',
 ' group of words th',
 "t'\n",
 're put together to me',
 'n something.\nA sentence is the b',
 'sic unit of \nl',
 'ngu',
 'ge which expresses ',
 ' complete thought.']

In [115]:
#split about a word
line="she is a boy but she is a girl she she"
line.split("she")

['', ' is a boy but ', ' is a girl ', ' ', '']

In [116]:
a="ManGo"
a=a.upper()
print(a)

a=a.lower()
print(a)

MANGO
mango

In [125]:
#l and r strip

a="    aaagfdxsaazfxcgj   uiyhgu               "
print(len(a))
print(a)

a=a.lstrip()                     #remove leading white space
print(len(a))
print(a)

a=a.rstrip()                    #remove ending wihte space
print(len(a))
print(a)

44
    aaagfdxsaazfxcgj   uiyhgu
40
aaagfdxsaazfxcgj   uiyhgu
25
aaagfdxsaazfxcgj   uiyhgu

In [140]:
#total strip

a="%%!My Documentsyash"
print(len(a))
a=a.strip()
print(len(a))

19
19

In [153]:
a="9354028507"
b="hello"
c="12.32"
d="54"

print(a.isdigit())
print(a.isalpha())
print(a.islower())
print()
print(b.isdigit())
print(b.isalpha())
print(b.islower())
print()
print(c.isdigit())
print(c.isalpha())
print(c.islower())
print()
print(d.isdigit())
print(d.isalpha())
print(d.islower())

True
False
False

False
True
True

False
False
False

True
False
False

In [162]:
a="123"
b="123aQ@"
c="  "

print(c.isspace())
print()

print(a.isdigit())
print(b.isdigit())
print()

print(a.isalpha())
print(a.isalnum())
print(b.isalnum())

True

True
False

False
True
False

In [173]:
a="hello ka apple"
print(a.find("apple"))                    #find from beginning

9

In [181]:
a="hello pino ndoa fhie subf  eubd"
print(a.find("cedwnj"))  #return -1 if nonthing found
print(a.find("pino",90,len(a)))
print(a.index("pino"))   #return an exception error if nothing is found

-1
-1
6

In [190]:
a="she sells sea shells on the sea shore"
a=a.replace("she","he")
a=a.replace("sea","pond")
a=a.upper()

print(a)

HE SELLS POND HELLS ON THE POND SHORE

In [196]:
a="i love eating apple in the apple store"
print(a.find("apple"))
print(a.count("apple"))

14
2

In [199]:
a="i love eating apple in the apple store"
l=a.split()
"@".join(l)

'i@love@eating@apple@in@the@apple@store'

In [203]:
name="coding blocks"
print(name.capitalize())
print(name.title())

Coding blocks
Coding Blocks